[user]
	name = Naoya Inada
	email = naoina@kuune.org
[alias]
	ci = commit
    cia = commit --amend -C HEAD
    co = checkout
    st = status
    resolve = mergetool
    glog = log --graph
	dic = diff --cached
    di = diff
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
	quotepath = false
[merge]
    tool = git-vimdiff
[mergetool]
    prompt = false
[mergetool "git-vimdiff"]
	cmd = git-vimdiff.sh \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[push]
	default = simple
