[submodule "home/.rbenv"]
	path = home/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "home/.zsh/fabric-zsh-autocomplete"]
	path = home/.zsh/fabric-zsh-autocomplete
	url = https://github.com/vhbit/fabric-zsh-autocomplete.git
[submodule "home/.ruby-build"]
	path = home/.ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "home/.vim/bundle/neobundle.vim"]
	path = home/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "home/.nvm"]
	path = home/.nvm
	url = https://github.com/creationix/nvm.git
[submodule "home/.zsh/auto-fu.zsh"]
	path = home/.zsh/auto-fu.zsh
	url = https://github.com/skirino/auto-fu.zsh.git
