[submodule ".rbenv"]
	path = .rbenv
	url = git://github.com/sstephenson/rbenv.git
[submodule ".nvm"]
	path = .nvm
	url = git://github.com/creationix/nvm.git
[submodule ".zsh/fabric-zsh-autocomplete"]
	path = .zsh/fabric-zsh-autocomplete
	url = git://github.com/vhbit/fabric-zsh-autocomplete.git
[submodule ".zsh/auto-fu.zsh"]
	path = .zsh/auto-fu.zsh
	url = https://github.com/hchbaw/auto-fu.zsh.git
[submodule ".ruby-build"]
	path = .ruby-build
	url = https://github.com/sstephenson/ruby-build.git
