[user]
	name = Naoya Inada
	email = naoina@kuune.org
	signingkey = 55111EAA
[alias]
	ci = commit
	cia = commit --amend -C HEAD
	ciac = commit --amend -c HEAD
	ciad = commit --amend -C HEAD --reset-author
	co = checkout
	st = status
	resolve = mergetool
	glog = log --graph --date-order -C -M --pretty=format:'<%h> %ad [%an] %Cgreen%d%Creset %s' --all --date=short
	dic = diff --cached
	di = diff
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep "^[a-z]"
	pr = pull-request
	cleanup = !git branch --merged | grep -v '*' | xargs -n 1 git branch -d
	g = grep -P
[color]
	ui = auto
[core]
	editor = /usr/bin/vim
	quotepath = false
[merge]
	tool = git-vimdiff
[mergetool]
	prompt = false
[mergetool "git-vimdiff"]
	cmd = git-vimdiff.sh \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
	trustExitCode = true
[push]
	default = current
[diff]
	algorithm = histogram
[pager]
	# They should use less because correct highlight color.
	log = diff-highlight | less -i
	show = diff-highlight | less -i
	diff = diff-highlight | less -i
[web]
	browser = xdg-open
[ghq]
	root = ~/work/src
[github]
	user = naoina
[fetch]
	prune = true
[rerere]
	enabled = true
[commit]
	gpgsign = true
