package org.naniyueni;


import org.junit.Test;
import org.junit.runner.JUnitCore;

import static org.hamcrest.core.Is.is;
import static org.junit.Assert.assertThat;


public class %FILENAME% {

    public static void main(String[] args) {
        JUnitCore.main(%FILENAME%.class.getName());
    }
} // End of %FILENAME% test class.
