extends javascript

snippet pr "private" !w
private 
endsnippet

snippet pub "public" !w
public 
endsnippet

snippet pro "protected" !w
protected 
endsnippet

snippet dec "declare" !b
declare 
endsnippet

snippet in "interface" !w
interface ${1:IInterfaceName} {
	${0:// TODO: not impelemented yet}
}
endsnippet

snippet type "type" !w
type ${1:TypeName} = ${2:{}}
endsnippet
